<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('app_cours')}}">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for niv in niveau%}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{path('app_niveau_show', {'id' : niv.id})}}">{{niv.nom}}</a>
          </li>
        {% endfor%}
      </ul>
      {% include 'cours/navigation.html.twig' %}
    </div>
  </div>
</nav>