{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur FunMath !</h1>
    <h3>Si vous avez difficulté ou vous n'avez pas de cours, vous êtes au bon endroit !</h3>
    <p> Sélection votre niveau et choissisez le chapitre que vous voulez apprendre ou rechercher le nom du chapitre dans la barre de recherch. </p>
    {% for niv in niveau %}
        <ul>
                <li><a href="{{ path('app_niveau_show', {'id' : niv.id})}}">{{niv.nom}}<a/></li>
        </ul>
    {% endfor %}
</div>
{% endblock %}
