<form method="GET" action="{{ path('app_chapitre_recherche') }}" class="d-flex">
    <input class="form-control me-2" type="search" type="text" name="q" placeholder="Rechercher un chapitre">
    <button class="btn btn-outline-success" type="submit">Rechercher</button>
</form>