{% extends 'base.html.twig' %}

{% block title %}Niveau{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Niveau {{niveau.nom}} </h1>
    {% for cat in categorie%}
        <h3>{{cat.nom}} </h3>
        {% for chapitres in chapitre%}
            <ul>
                <li> <a href="{{path('app_cours_chapitre_show', {'id' : chapitres.id})}}">{{chapitres.title}}</a> </li>
            </ul>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}